<app-header titulo="Grid"></app-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
       *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">

        <ion-card>
          <ion-img src="/assets/rafa.jpg"></ion-img>
        </ion-card>
       
 <ion-card-header>
   <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
   <ion-card-title>Awesome Title</ion-card-title>
 </ion-card-header>

 <ion-card-content>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam praesentium iure libero ab. Necessitatibus, consequuntur enim numquam laborum recusandae, corporis suscipit aut voluptas debitis nihil exercitationem aspernatur temporibus rem facere.
 </ion-card-content>

      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>